
@{
    ViewData["Title"] = "Accessing DevArena protected API";
}

<h2>FullAccess</h2>
<div>
    <a asp-action="GetFullAccessResources">Full access resources</a>
</div>
<div>
    <a asp-action="GetLimitedAccessResources">Limited access resources</a>
</div>

@*<div>
        <a asp-action="CallApiUsingUserAccessToken">Call API using user token</a>
    </div>
    <div>
        <a asp-action="CallApiUsingClientCredentials">Call API using application identity</a>
    </div>*@

